# IDE
.vscode
.idea
.history
.editorconfig
.eslintignore
.eslintrc

# CI/CD
.travis.yml

# Source code
src

# Configs
serve-examples.js
jest.config.js
rollup.config.js
tsconfig.json
webpack.config.js

# Docs
docs/
examples/

# assets
assets/lottie-interactive.png